<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/portfolio.css">
    <% include ../partials/links %>
    <title>Leonardo Andres</title>
  </head>
  <body>
    <div class="vr">&nbsp;</div>
    <div class="container-fluid">
      <div class="row">
        <div class="header">
          <div class="logo">
            <a href="/"><img src="/logo-w.png"></a>
          </div>
          <div class="name">
            <h3>LEONARDO ANDRES CALDERON</h3>
          </div>
          <div class="description">
            <h1>WEB DEVELOPER | UX/UI DESIGNER</h1>
          </div>
        </div>
      </div>
      <div class="row row1">
        <div class="col-md-6 col-sm-6 col-xs-12 side-text">
          <h3>Portfolio</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 img-1">
          <img src="/pic1.jpg" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row2">
        <div class="col-md-6 col-sm-6 col-xs-12 paragraph">
          <p> I am a junior web developer / web designer
            with a marketing and sales background based on Puerto Rico.
            My goal is to make digital dreams come true.
            Personally I like the vast amount of knowledge
            you can acquire as a programmer and how there is
            always something new to learn. Also to find new
            and more efficient ways to do things that you
            thought you knew.</p>
            <p> Creative solution provider as freelance developer.
            Give me a chance to bring your ideas to life.</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 empty-block">
          </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row row3">
        <div class="col-md-6 col-sm-6 col-xs-12 empty-block2">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 resume">
          <a href="/LeonardoResume.pdf"><h1>RESUME / CV</h1></a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row4">
        <div class="col-md-6 col-sm-6 col-xs-12 skills">
          <h1>SKILLS</h1>
          <h3>Web/UX/UI Design</h3>
          <h3>JavaScript / NodeJS</h3>
          <h3>Express | MongoDB</h3>
        </div>
          <div class="col-md-6 col-sm-6 col-xs-12 empty-block3">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row5">
        <div class="col-md-6 col-sm-6 col-xs-12 empty-block4">
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12 acomplishments">
          <h1>ACOMPLISHMENTS</h1>
          <h3>- Codetrotters Academy JavaScript and Node.JS course graduate</h3>
          <h3>- Codetrotters Academy Standing Ovation for no.2 best project</h3>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row6">
        <div class="col-md-6 col-sm-6 col-xs-12 img-2">
          <img src="/pic2.jpg" class="img-responsive">
        </div>
          <div class="col-md-6 col-sm-6 col-xs-12 contact">
            <h1>CONTACT</h1>
            <a href="mailto:leonardoandres.1298@gmail.com"><img src="/mail-logo.png"></a>
            <a href="https://github.com/leodrez" target="_blank"><img src="/git-logo.png"></a>
            <a href="https://www.instagram.com/leodrezz/" target="_blank"><img src="/ig-logo.png"></a>
            <a href="/projects"><h3>PROJECTS</h3></a>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <script src="/scripts.js"></script>
  </body>
</html>
